<article class="midwife-card module">
    <div class="midwife-card-top" style="background: {{ midwife.backgroundColor1 }}">
        <a href="{{ path('midwife_show', {'slug' : midwife.slug}) }}" class="midwife-card-picture" aria-label="Voir la fiche de {{ midwife.firstname }} {{ midwife.lastname }}">
            <div class="midwife-card-picture-image" style="background-image:url('{{ media_path(midwife.picture) }}')" data-tooltip="tooltip" title="en savoir plus"></div>
        </a>
    </div>

    <div class="midwife-card-main"{% if midwife.bgCard %} style="background-image: url('{{ media_path(midwife.bgCard) }}')"{% endif %}>
        <div class="midwife-card-overlay"></div>
        {% autoescape %}
        <h3>{{ midwife.firstname }} {{ midwife.lastname }}</h3>
        {% endautoescape %}
    </div>
    <div class="midwife-card-footer">
        <div class="midwife-card-footer-phone">
            <a href="tel:{{ midwife.phone }}"><i class="fas fa-phone" aria-hidden="true"></i> <span class="number">{{ midwife.phone|mobilePhone }}</span></a>
        </div>
        <div class="midwife-card-footer-doctolib">
            {% include '/front/components/doctolib.html.twig' %}
        </div>
    </div>

</article>
