<article class="midwife-horizontal-card">
    <div class="midwife-horizontal-card-top">
        <a href="{{ path('midwife_show', {'slug' : midwife.slug}) }}" class="midwife-horizontal-card-top-picture" >
            <div class="midwife-horizontal-card-top-picture-image" style="background-image:url('{{ media_path(midwife.picture) }}')">
            </div>
        </a>
    </div>
    <div class="midwife-horizontal-card-main">
        <div class="midwife-horizontal-card-main-top">
            <h3>{{ midwife.firstname }} {{ midwife.lastname }}</h3>
        </div>
        <div class="midwife-horizontal-card-main-bottom">
            <div class="midwife-horizontal-card-main-bottom-phone">
                <a href="tel:{{ midwife.phone }}"><i class="fas fa-phone" aria-hidden="true"></i> <span>{{ midwife.phone }}</span></a>
            </div>
            <div class="midwife-horizontal-card-main-bottom-doctolib">
                {% include '/front/components/doctolib.html.twig' %}
            </div>
        </div>

    </div>
</article>
